.uni-partners-container {
  display: flex;
  justify-content: center;
}

.uni-partners {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  width: 100rem;

  @include respond(ipad) {
    width: 80rem;
  }

  @include respond(surface-duo) {
    width: 60rem;
    justify-content: center;
  }

  @include respond(iphone-plus) {
    width: 50rem;
    justify-content: center;
  }

  &__logo {
    height: 9rem;
    margin: 3rem;
    transition: all 0.2s ease-in-out;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

    &:hover {
      transform: scale(1.4);
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
    }

    @include respond(ipad) {
      height: 8rem;
      margin: 1rem;
    }

    @include respond(iphone-plus) {
      height: 13rem;
    }
  }
}

.partners-heading-container {
  padding-top: 5rem;
  display: flex;
  justify-content: flex-end;
  border-bottom: 0.5rem solid $color-grey-dark-2;
  width: 25rem;

  @include respond(ipad-pro) {
    width: 21rem;
  }

  @include respond(ipad) {
    width: 16rem;
  }

  @include respond(iphone-x) {
    width: 17rem;
  }

  @include respond(iphone-only) {
    width: 10rem;
  }
}

.partners-heading {
  font-family: Mosk-600;
  font-size: 2.6rem;

  @include respond(ipad) {
    font-size: 2rem;
  }
}

.partners-decorative-line-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;

  @include respond(small-laptop) {
    display: none;
  }
}

.partners-decorative-line {
  padding-top: 5rem;
  margin-bottom: -2rem;
  border-bottom: 0.5rem solid $color-grey-dark-2;
  width: 25rem;

  @include respond(ipad-pro) {
    width: 20rem;
  }

  @include respond(ipad) {
    width: 15rem;
  }

  @include respond(iphone-only) {
    width: 9rem;
  }
}
