.uni-partners-container {
  display: flex;
  justify-content: center;
}

.uni-partners {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  flex-wrap: wrap;
  width: 100rem;

  @include respond(ipad) {
    width: 80rem;
  }

  @include respond(surface-duo) {
    width: 60rem;
    justify-content: center;
  }

  @include respond(iphone-plus) {
    width: 50rem;
    justify-content: center;
  }

  &__logo {
    height: 9rem;
    margin: 3rem;
    transition: all 0.2s ease-in-out;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);

    &:hover {
      transform: scale(1.4);
      -webkit-filter: grayscale(0%);
      filter: grayscale(0%);
    }

    @include respond(ipad) {
      height: 8rem;
      margin: 1rem;
    }

    @include respond(iphone-plus) {
      height: 13rem;
    }
  }
}
