.university-socials {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    font-size: 6rem;

    @include respond(ipad-pro) {
      font-size: 8rem;
    }

    @include respond(surface-duo) {
      font-size: 6rem;
    }

    @include respond(iphone-plus) {
      font-size: 5rem;
    }

    @include respond(iphone-x) {
      font-size: 7rem;
    }

    @include respond(iphone-5) {
      font-size: 6rem;
    }

    @include respond(iphone-only) {
      font-size: 9rem;
    }
  }

  &__icon-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 3rem;
  }

  &__icon {
    height: 4rem;
    margin: 1.5rem;

    @include respond(ipad-pro) {
      height: 7rem;
    }

    @include respond(iphone-x) {
      height: 8rem;
    }

    @include respond(iphone-only) {
      height: 6rem;
    }
  }
}
