@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}

@mixin absCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

// MEDIA QUERY MANAGER (based on Google device taskbar)
/*
0 - 280px:          galaxy-fold
280 - 320px:        iphone-5
320 - 360px:        galaxy-s5
360 - 380px:        iphone-x
380 - 420px:        iphone-plus
420 - 540px:        surface-duo
540 - 780px:        ipad
780 - 1024px:       ipad-pro
1024 - 1280px:      laptop-x-small
1280 - 1440px:      laptop-small
[1440 - 1504px] is where our normal styles apply
1505 - 1832px:      large-laptop
1832px + :          Big desktop

1em = 16px
*/
@mixin respond($breakpoint) {
  @if $breakpoint == galaxy-fold {
    @media only screen and (max-width: 17.5em) {
      @content;
    } // 280px
  }
  @if $breakpoint == iphone-5 {
    @media only screen and (max-width: 20em) {
      @content;
    } // 320px
  }
  @if $breakpoint == galaxy-s5 {
    @media only screen and (max-width: 22.5em) {
      @content;
    } // 360px
  }
  @if $breakpoint == iphone-x {
    @media only screen and (max-width: 23.75em) {
      @content;
    } // 380px
  }
  @if $breakpoint == iphone-only {
    // CSS specific to iOS mobile devices
    @media only screen and (orientation: portrait) and (max-width: 26.25em) {
      @supports (-webkit-touch-callout: none) {
        @content;
      }
    } // 420px
  }
  @if $breakpoint == iphone-plus {
    @media only screen and (max-width: 26.25em) {
      @content;
    } // 420px
  }
  @if $breakpoint == surface-duo {
    @media only screen and (max-width: 33.75em) {
      @content;
    } // 540px
  }
  @if $breakpoint == ipad {
    @media only screen and (max-width: 48.75em) {
      @content;
    } // 780px
  }
  @if $breakpoint == ipad-pro {
    @media only screen and (max-width: 64em) {
      @content;
    } // 1024px
  }
  @if $breakpoint == x-small-laptop {
    // screens up to 11in
    @media only screen and (max-width: 80em) {
      @content;
    } // 1280px
  }
  @if $breakpoint == small-laptop {
    // screens up to 13in
    @media only screen and (max-width: 90em) {
      @content;
    } // 1440px
  }
  //
  // 15in laptop is 1504px
  //
  @if $breakpoint == large-laptop {
    // screens slightly larger than 15in and above
    @media only screen and (min-width: 94.1em) {
      @content;
    } // 1505-1660
  }
  @if $breakpoint == x-large-laptop {
    // screens slightly smaller than 16in and above
    @media only screen and (min-width: 103.75em) {
      @content;
    } // 1660-1832
  }
  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 114.5em) {
      @content;
    } // >1832
  }
}

@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: url($font-file + '.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
}
