// ARTICLE STYLING 

// HERO IMAGE
.heroImageContainer{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    height: 55rem;
    width: 128rem;
    overflow: hidden;
    border-radius: 2rem;
    margin-bottom: 8rem;

        @include respond(ipad-pro) {
            width: 100rem; 
            height: 40rem;
            margin-bottom: 2rem;
               }

        @include respond(ipad) {
            width: 72rem; 
               }

        @include respond(surface-duo) {
            width: 54rem; 
            height: 25rem;
            margin-bottom: 1rem;
               }

        @include respond(iphone-plus) {
            width: 45rem;
            height: 20rem; 
            margin-bottom: 1rem;
               }

// Iphone x to plus width is behaving strangely - had to add this width in for it to sit right on the screen 
        @include respond(iphone-x) {
            width: 60rem;
               }

        @include respond(iphone-5) {
            width: 50rem;
               }
}

.heroImage{
    border-radius: 2rem;
    max-width: 100%;
}

// Content container styling */
.contentContainer{
    margin-left: 8rem;

    @include respond(ipad-pro) {
        margin-left: 0;
    }
}


//TITLE TEXT
.articleTitle{
    font-size: 6.4rem;
    font-family: 'Mosk-700';

     @include respond(surface-duo) {
        font-size: 5rem;
    }
}

// HR
.underTitleLine{
    height: 3px;
    max-width: 65%;
    margin-top: 2rem;
    border: none;
    background-color: #22222A;
    
        @include respond(ipad-pro) {
            max-width: 100%;
        }
}

.articleBodyContainer{
    margin-left: 10rem;
    padding-top: 10rem;
    
    @include respond(ipad-pro) {
        margin-left: 0rem;
            }

}

// Subtitle
.articleSubtitle{
    font-size: 4.5rem;
    font-family: 'Mosk-500';
}

// Article Body Text
.bodyText{
    font-size: 2.5rem;
    font-family: 'Mosk-200';
    color: $color-grey-light-3;
    max-width: 85%;
    line-height: 3.5rem;
    margin-bottom: 3rem;
   
    @include respond(ipad-pro) {
        max-width: 100%;
    }
}

.innerArticleSubtitle{
    font-size: 3rem;
    font-family: 'Mosk-500';
}