// ARTICLE STYLING 

// HERO IMAGE
.heroImage{
    border-radius: 2rem;
    margin-bottom: 8rem;
    height: 55rem;
    width: 100%;

    @include respond(ipad-pro) {
        height: 45rem;
    }

    @include respond(ipad) {
        height: 38rem;
    }

    @include respond(surface-duo) {
        height: 25rem;
        margin-bottom: 1.5rem;
    }

    @include respond(iphone-plus) {
        height: 22rem;
    }

    @include respond(iphone-x) {
        height: 25rem;
    }

    @include respond(iphone-only) {
        height: 15rem;
    }

    @include respond(galaxy-s5) {
        height: 22rem;
    }
}

// Content container styling */
.contentContainer{
    margin-left: 8rem;

    @include respond(ipad-pro) {
        margin-left: 0;
    }
}


//TITLE TEXT
.articleTitle{
    font-size: 6.4rem;
    font-family: 'Mosk-700';

     @include respond(surface-duo) {
        font-size: 5rem;
    }
}

// HR
.underTitleLine{
    height: 3px;
    max-width: 65%;
    margin-top: 2rem;
    border: none;
    background-color: #22222A;
    
        @include respond(ipad-pro) {
            max-width: 100%;
        }
}

.articleBodyContainer{
    margin-left: 10rem;
    padding-top: 10rem;
    
    @include respond(ipad-pro) {
        margin-left: 0rem;
    }

    @include respond(iphone-only) {
        padding-top: 7rem;
    }

}

// Subtitle
.articleSubtitle{
    font-size: 4.5rem;
    font-family: 'Mosk-500';
}

// Article Body Text
.bodyText{
    font-size: 2.5rem;
    font-family: 'Mosk-200';
    color: $color-grey-light-3;
    max-width: 85%;
    line-height: 3.5rem;
    margin-bottom: 3rem;
   
    @include respond(ipad-pro) {
        max-width: 100%;
    }
}

.innerArticleSubtitle{
    font-size: 3rem;
    font-family: 'Mosk-500';
}