.faq {
  &__header {
    max-width: 90rem;
    line-height: normal;
    margin-bottom: 5rem;
    padding-top: 3rem;
  }

  &__intro {
    font-family: Mosk-200;
    font-size: $font-size-25;
    color: $color-grey-light-2;
    margin-bottom: 20rem;

    @include respond(ipad-pro) {
      display: none;
    }
  }

  &__body {
    font-family: Mosk-300;
    font-size: 1.8rem;
    color: $color-grey-light-3;
    line-height: 2.5rem;
    padding-bottom: 7rem;

    @include respond(ipad-pro) {
      font-size: 2rem;
    }
  }

  &__h1 {
    font-family: Mosk-700;
    font-size: 6rem;
    padding-bottom: 2rem;
  }

  &__h3 {
    font-size: 2.6rem;

    @include respond(ipad-pro) {
      font-size: 4rem;
    }
    @include respond(ipad) {
      line-height: 5rem;
    }
    @include respond(galaxy-fold) {
      line-height: 3rem;
    }
  }

  &__indentedPara {
    margin-left: 18rem;

    @include respond(ipad-pro) {
      margin-left: 0rem;
    }
  }

  &__h4 {
    font-size: 2.6rem;
    @include respond(ipad-pro) {
      font-size: 4rem;
    }
    @include respond(galaxy-s5) {
      font-size: 3rem;
    }
  }
}
