//Galaxy University HEADER COMPONENT

.headerContainer {
  display: flex;
  margin: 7rem 8rem 13rem 8rem;

  @include respond(large-laptop) {
    margin: 7rem 10rem 13rem 10rem;
  }

  @include respond(x-large-laptop) {
    margin: 7rem 12rem 13rem 12rem;
  }

  @include respond(ipad-pro) {
    margin: 15rem 8rem 13rem 8rem;
  }

  @include respond(ipad) {
    margin: 10rem 6rem;
  }

  @include respond(surface-duo) {
    margin: 13rem 6rem;
  }
}

.galaxyUniversityHeader {
  display: flex;
  flex-direction: column;

  &__titleContainer {
    margin-top: 8rem;
    margin-bottom: 3rem;

    @include respond(surface-duo) {
      margin-top: 3rem;
    }
  }

  &__h1 {
    font-size: 10rem;
    font-family: 'Mosk-700';
    display: inline;

    @include respond(surface-duo) {
      font-size: 9.5rem;
    }
  }

  &__span {
    font-size: 8rem;
    font-family: 'Mosk-200';

    @include respond(ipad-pro) {
      line-height: 4rem;
    }

    @include respond(ipad) {
      font-size: 6rem;
    }

    @include respond(surface-duo) {
      font-size: 7rem;
    }
  }

  &__intro {
    font-size: 2.5rem;
    font-family: 'Mosk-200';
    color: $color-grey-light-3;
    max-width: 70%;

    @include respond(ipad-pro) {
      max-width: 90%;
      font-size: 2.3rem;
    }
  }
}

.university-button {
  margin-top: 5rem;
}

.university-start {
  background: transparent
    linear-gradient(78deg, $color-teal 0%, #f60aff 100%, $color-pink 100%) 0% 0%
    no-repeat padding-box;
}

.university-start:hover {
  background: transparent
    linear-gradient(257deg, $color-teal 0%, #f60aff 78%, $color-pink 100%) 0% 0%
    no-repeat padding-box;
}

.uni-headerImage {
  height: 55rem;

  @include respond(large-laptop) {
    height: 60rem;
  }

  @include respond(ipad) {
    height: 39rem;
    margin-top: 8rem;
  }

  @include respond(surface-duo) {
    display: none;
  }
}

// GRADIENT BAR

.gradientBar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: fit-content;
  background: transparent
    linear-gradient(
      75deg,
      $color-pink 0%,
      $color-teal 80%,
      $color-teal 100%,
      $color-black 100%
    )
    0% 0% no-repeat padding-box;
}

.gradientBarContents {
  display: flex;
  align-items: center;

  @include respond(ipad) {
    flex-direction: column;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}

.barTitle {
  font-size: 2rem;
  margin-right: 1rem;

  @include respond(ipad-pro) {
    font-size: 1.8rem;
    margin-left: 3rem;
  }

  @include respond(ipad) {
    font-size: 2.6rem;
  }

  &--1 {
    font-family: 'Mosk-100';
  }

  &--2 {
    font-family: 'Mosk-700';
  }
}

.filterOptionsContainer {
  display: flex;
  flex-wrap: wrap;

  @include respond(ipad) {
    justify-content: center;
  }
}

// GRADIENT BAR FILTER BUTTONS

.filterBtn {
  width: auto;
  height: 5rem;
  background-color: rgba(255, 255, 255, 0.15);
  margin: 2rem 2.5rem;
  border-radius: 1.5rem;
  display: flex;
  padding: 1rem 2.8rem;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;

  &__txt1 {
    font-family: 'Mosk-100';
    
    @include respond(ipad-pro) {
    }

    @include respond(iphone-plus) {
      font-family: 'Mosk-700';
    }

    @include respond(iphone-only) {
      font-family: 'Mosk-700';
    }

  }

  &__txt2 {
    font-family: 'Mosk-700';
  }

  @include respond(ipad-pro) {
    margin: 1.2rem 1.5rem;
  }

  @include respond(surface-duo) {
    font-size: 2.2rem;
  }
}

.filterBtnSelected {
  width: auto;
  height: 5rem;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 2rem 2.5rem;
  border-radius: 1.5rem;
  display: flex;
  padding: 1rem 2.8rem;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;

  &__txt1 {
    font-family: 'Mosk-100';
  }

  &__txt2 {
    font-family: 'Mosk-700';
  }

  @include respond(ipad-pro) {
    margin: 1.2rem 1.5rem;
  }

  @include respond(surface-duo) {
    font-size: 2.2rem;
  }
}

.filterBtn:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.filterBtnIcon {
  height: 2.2rem;
  margin-left: 0.6rem;

  @include respond(ipad-pro) {
    height: 2.6rem;
  }

  @include respond(ipad) {
    height: 3rem;
  }
  
  @include respond(surface-duo) {
    height: 3.6rem;
  }
}

// ARTICLE GALLERY COMPONENT

.articles-heading-container {
  margin-top: 4rem;
  padding-top: 5rem;
  display: flex;
  justify-content: flex-end;
  border-bottom: 0.5rem solid $color-grey-dark-2;
  width: 25rem;

  @include respond(ipad-pro) {
    width: 21rem;
  }

  @include respond(ipad) {
    width: 16rem;
  }

  @include respond(iphone-x) {
    width: 17rem;
  }

  @include respond(iphone-only) {
    width: 10rem;
  }
}

.articles-heading {
  font-family: Mosk-600;
  font-size: 2.6rem;

  @include respond(ipad) {
    font-size: 2rem;
  }
}

.articleGalleryContainer {
  margin: 12rem 6rem;
  display: flex;
  justify-content: center;

  @include respond(big-desktop) {
    margin: 15rem 8rem;
  }

  @include respond(ipad-pro) {
    margin: 10rem 7rem;
  }
}
.totalArticlesContainer{
  display: flex;
  flex-direction:row;
}

.totalArticles{
  font-size: 2.4rem;
  font-family: 'Mosk-100';

  &--1{
    font-family: 'Mosk-700'
  }
}

.article-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.article-gallery-column {
  padding-bottom: 2%;
}

.moreBtnContainer {
  display: flex;
  justify-content: center;
}

.article-more-btn {
  width: 17rem;
  height: 4rem;
  border-radius: 0.4rem;
  color: $color-white;
  cursor: pointer;
  background: transparent
    linear-gradient(
      75deg,
      $color-teal 0%,
      $color-teal 47%,
      $color-pink 100%,
      $color-black 100%
    )
    0% 0% no-repeat padding-box;
  font-family: Mosk-800;
  font-size: 2rem;
  border: none;
  margin-right: 3rem;

  @include respond(iphone-plus) {
    margin-right: 0;
    margin-bottom: 2rem;
  }
}

.articleGalleryLink {
  text-decoration: none;
  color: #22222a;
}

// ARTICLE CARD COMPONENT

.article-card {
  margin: 3rem;
  margin-bottom: 0;

  @include respond(ipad-pro) {
    margin: 2.5rem;
  }
}

.article-image-category-container{
  display: flex; 
  flex-direction: column;
}

.article-card-image-div {
  display: flex;
  justify-content: center;
  height: 36rem;
  width: 28rem;
  overflow: hidden;

  border-radius: 3rem;
  background: rgb(104, 211, 214);

  @include respond(surface-duo) {
    height: 48rem;
    width: 36rem;
  }
}

// The margin top here is matched with the opposite in the article-card-details-container to keep te space between them and allow the categories to sit at the top of the card
.article-card-badge-container{
  display: flex;
  flex-direction: row;
  z-index: 1;
  margin-top: -34rem;
  justify-content: flex-start;
  padding-left: 1.8rem;

  @include respond(ipad-pro) {
    margin-top: -34rem;
  }
  
  @include respond(surface-duo) {
    margin-top: -45.5rem;
  }
}

.category-badge{
  background-color: rgba(12, 1, 33, 0.8);
  font-size: 1.5rem;
  font-family: 'Mosk-600';
  padding-left: .9rem;
  padding-right: .9rem;
  margin-right: .8rem;
  border-radius: .4rem;

  @include respond(surface-duo) {
    font-size: 1.9rem;
  }
}



.article-card-image {
  max-width: 100%;
}

// The margin top here is matched with the opposite in the article-card-details-container to keep te space between them and allow the categories to sit at the top of the card
.article-card-badge-container{
  display: flex;
  flex-direction: row;
  z-index: 1;
  margin-top: -32rem;
  justify-content: space-around;

  @include respond(surface-duo) {
    margin-top: -42rem;
  }
}

.category-badge{
  background-color: rgba(12, 1, 33, 0.8);
  font-size: 1.4rem;
  font-family: 'Mosk-600';
  padding-left: .6rem;
  padding-right: .6rem;
  border-radius: .6rem;

  @include respond(surface-duo) {
    font-size: 2rem;
  }
}

.article-card-details-container {
  display: flex;
  justify-content: space-between;
  margin-top: 32rem;

  @include respond(surface-duo) {
    margin-top: 43rem;
  }
}

.article-card-title {
  font-size: 2rem;
  font-family: 'Mosk-600';
  color: $color-white;
  padding-top: 2.2rem;
  padding-bottom: 1.5rem;
  max-width: 25rem;

  @include respond(large-laptop) {
    font-size: 2.3rem;
  }

  @include respond(surface-duo) {
    font-size: 2.6rem;
  }

  @include respond(iphone-plus) {
    font-size: 2.3rem;
  }
}

.article-card-posted{
  color: #5B5D62;
  font-size: 2rem;
}

.article-card-timeframe-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.article-level-beginner {
  border: 0.3rem solid #228346;
  height: 0%;
  border-radius: 1rem;
  display: inline-block;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  font-size: 1.6rem;
  font-family: 'Mosk-600';
  color: #228346;
  margin-bottom: 2rem;

  @include respond(large-laptop) {
    font-size: 1.8rem;
  }

  @include respond(large-laptop) {
    font-size: 1.8rem;
  }

  @include respond(surface-duo) {
    font-size: 2.6rem;
  }

  @include respond(iphone-plus) {
    font-size: 2.5rem;
  }
}

.article-level-intermediate {
  height: 0%;
  border: 0.3rem solid #ffb100;
  border-radius: 1rem;
  display: inline-block;
  padding-left: 0.8rem;
  padding-right: 0.8rem;
  font-size: 1.6rem;
  font-family: 'Mosk-600';
  color: #ffb100;
  margin-bottom: 2rem;

  @include respond(large-laptop) {
    font-size: 1.8rem;
  }

  @include respond(large-laptop) {
    font-size: 1.8rem;
  }

  @include respond(surface-duo) {
    height: 3.6rem;
  }
}

.uni-bold-text {
  font-family: Mosk-700;
}

.uni-text {
  font-family: Mosk-100;
  font-weight: lighter;
}
