.team-header {
  font-family: Mosk-800;
  font-size: 7rem;
  line-height: normal;
  margin-left: 4rem;
  margin-bottom: 5rem;

  @include respond(large-laptop) {
    margin-left: 6rem;
    margin-bottom: 8rem;
  }

  @include respond(x-large-laptop) {
    margin-left: 13rem;
  }

  @include respond(ipad-pro) {
    margin-left: 8rem;
  }

  @include respond(surface-duo) {
    margin-left: 2rem;
    font-size: 5.7rem;
  }

  @include respond(iphone-plus) {
    font-size: 4.9rem;
  }

  @include respond(iphone-x) {
    font-size: 6.3rem;
    margin-left: 6rem;
  }

  @include respond(galaxy-s5) {
    font-size: 5.9rem;
  }

  @include respond(iphone-5) {
    font-size: 5rem;
    margin-left: 4rem;
  }

  @include respond(galaxy-fold) {
    margin-left: 7.5rem;
  }

  @include respond(iphone-only) {
    font-size: 6rem;
  }
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.profile-card {
  color: $color-white;
  margin: 3rem;

  @include respond(x-large-laptop) {
    margin: 3rem 4rem;
  }

  @include respond(small-laptop) {
    margin: 2.5rem;
  }

  @include respond(x-small-laptop) {
    margin: 2.3rem;
  }

  @include respond(ipad-pro) {
    margin-top: 5rem;
  }

  @include respond(surface-duo) {
    margin: 1.3rem;
    margin-bottom: 4rem;
  }

  &__pic-container {
    display: flex;
    flex-direction: column;
    background: transparent
      linear-gradient(329deg, $color-black 0%, $color-gradient-black 100%) 0% 0%
      no-repeat padding-box;
  }

  &__text {
    padding: 0.5rem 2rem;
  }

  &__name {
    font-family: Mosk-600;
    font-size: 2rem;

    @include respond(iphone-x) {
      font-size: 3rem;
    }

    @include respond(iphone-5) {
      font-size: 2.5rem;
    }
  }

  &__job-title {
    font-family: Mosk-200;
    font-size: 1.2rem;

    @include respond(iphone-x) {
      font-size: 2.2rem;
    }

    @include respond(iphone-5) {
      font-size: 2rem;
    }
  }

  &__image {
    height: 35rem;

    @include respond(large-laptop) {
      height: 37rem;
    }

    @include respond(small-laptop) {
      height: 30rem;
    }

    @include respond(x-small-laptop) {
      height: 27rem;
    }

    @include respond(ipad-pro) {
      height: 30rem;
    }

    @include respond(iphone-plus) {
      height: 37rem;
    }

    @include respond(iphone-x) {
      height: 50rem;
    }
  }

  &__logo-3d-container {
    height: 35rem;
    width: 28rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(large-laptop) {
      height: 36.8rem;
      width: 29.8rem;
    }

    @include respond(small-laptop) {
      height: 30rem;
      width: 24rem;
    }

    @include respond(x-small-laptop) {
      height: 27rem;
      width: 21.7rem;
    }

    @include respond(ipad-pro) {
      height: 30rem;
      width: 24rem;
    }

    @include respond(iphone-plus) {
      height: 36.8rem;
      width: 29.8rem;
    }

    @include respond(iphone-x) {
      height: 50rem;
      width: 40rem;
    }
  }

  &__logo-3d {
    height: 14rem;

    @include respond(small-laptop) {
      height: 12rem;
    }

    @include respond(x-small-laptop) {
      height: 11rem;
    }

    @include respond(iphone-x) {
      height: 17rem;
    }
  }

  &__linkedIn {
    height: 1.5rem;
    margin-top: 0.75rem;

    @include respond(iphone-x) {
      height: 2.4rem;
      margin-bottom: 5rem;
    }
  }
}
