.meet-our-team {
  display: flex;
  flex-direction: column;
  padding-bottom: 11rem;
  padding-left: 9rem;

  @include respond(ipad) {
    padding-left: 6rem;
  }

  @include respond(surface-duo) {
    padding-left: 0;
  }

  @include respond(iphone-x) {
    padding-left: 4rem;
  }

  @include respond(galaxy-s5) {
    padding-left: 3rem;
  }

  @include respond(iphone-5) {
    padding-left: 0;
  }

  @include respond(iphone-only) {
    padding-left: 2rem;
  }

  @include respond(galaxy-fold) {
    padding-left: 4rem;
  }
}

.team-container {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;

  @include respond(big-desktop) {
    width: 100%;
  }
}

.team-header {
  font-family: Mosk-800;
  font-size: 7rem;
  line-height: normal;

  @include respond(iphone-only) {
    font-size: 6rem;
  }
}

.profile-card {
  color: $color-white;
  margin: 6rem 5rem 4rem 0;

  @include respond(big-desktop) {
    margin: 6rem 7rem 4rem 0;
  }

  @include respond(surface-duo) {
    margin: 4rem 4rem 2rem 0;
  }

  @include respond(iphone-plus) {
    margin: 4rem 1.5rem 2rem 0;
  }

  @include respond(iphone-x) {
    margin: 5rem 5rem 2rem 0;
  }

  @include respond(iphone-5) {
    margin: 5rem 2.5rem 2rem 0;
  }

  &__pic-container {
    display: flex;
    flex-direction: column;
    background: transparent
      linear-gradient(329deg, $color-black 0%, $color-gradient-black 100%) 0% 0%
      no-repeat padding-box;
  }

  &__text {
    padding: 0.5rem 2rem;
  }

  &__name {
    font-family: Mosk-600;
    font-size: 2rem;

    @include respond(surface-duo) {
      font-size: 1.7rem;
    }
  }

  &__job-title {
    font-family: Mosk-200;
    font-size: 1.2rem;

    @include respond(surface-duo) {
      font-size: 1rem;
    }
  }

  &__image {
    height: 34rem;

    @include respond(big-desktop) {
      height: 35rem;
    }

    @include respond(ipad-pro) {
      height: 30rem;
    }

    @include respond(surface-duo) {
      height: 26rem;
    }

    @include respond(iphone-x) {
      height: 28rem;
    }
  }

  &__logo-3d-container {
    height: 34rem;
    width: 27.2rem;
    display: flex;
    justify-content: center;
    align-items: center;

    @include respond(big-desktop) {
      height: 35rem;
      width: 28rem;
    }

    @include respond(ipad-pro) {
      height: 30rem;
      width: 24rem;
    }

    @include respond(surface-duo) {
      height: 26rem;
      width: 21rem;
    }

    @include respond(iphone-x) {
      height: 28rem;
      width: 22.5rem;
    }
  }

  &__logo-3d {
    height: 14rem;

    @include respond(ipad-pro) {
      height: 11rem;
    }

    @include respond(surface-duo) {
      height: 9rem;
    }

    @include respond(iphone-x) {
      height: 10rem;
    }
  }

  &__linkedIn {
    height: 1.5rem;
    margin-top: 0.75rem;
  }
}
