.migration-docs-container {
  display: flex;
  flex-direction: column;
}

.migration-docs {
  color: $color-white;
  font-size: $font-size-20;

  &__header {
    font-size: $font-size-90;
    line-height: normal;
    font-family: Mosk-600;

    @include respond(x-small-laptop) {
      font-size: 7rem;
    }
  }

  &__subheader {
    font-size: 6rem;
    padding-top: 6rem;
    font-family: Mosk-600;

    @include respond(x-small-laptop) {
      font-size: 5.2rem;
    }

    @include respond(ipad) {
      font-size: 5rem;
    }

    @include respond(surface-duo) {
      font-size: 3.8rem;
    }
  }

  &__text {
    padding: 0.5rem;
    font-family: Mosk-300;
  }

  &__link {
    color: $color-white;
    text-decoration: none;
    font-weight: bold;
  }
}

.migration-docs-infographic-container {
  padding-top: 6rem;
  display: flex;
  justify-content: center;
}

.migration-docs-infographic {
  max-width: 90%;
}
