.merchImage {
    position: relative;
    width: 100%;
    height: 100%;
}

.hoodies {
    position: absolute;
    height: 115%;
    top: -70px;
    left: 180px;
}

/* Resize and move hoodies for mobile view */
@media screen and (max-width: 576px) { .hoodies {
    position: relative; 
    top: 25px;
    left: 25%;
    max-width: 50%;
    height: auto;
}}

.btnMerch {
    background: transparent linear-gradient(84deg, #00CDD5 0%, #FF00FF 100%) 0% 0% no-repeat padding-box;    
}