.gridPadding {
    padding-left: 200px;
    padding-right: 200px;
}

.gridPadding2 {
    padding-left: 60px;
    padding-right: 200px;
}

/* Space to seperate elements */
.banTopSpace {
    padding-bottom: 70px;
}

.banOutSpace {
    padding-bottom: 150px;
}

.banMerchSpace {
    padding-bottom: 250px;
}

.banDiscordSpace {
    padding-bottom: 250px;
}

.banSpace {
    padding-bottom: 50px;
}

/* Banner backgrounds */
.fadeLeft {
    background: transparent linear-gradient(269deg, #000000 0%, #171717 100%) 0% 0% no-repeat padding-box;
}

.fadeRight {
    background: transparent linear-gradient(90deg, #000000 0%, #171717 100%) 0% 0% no-repeat padding-box;
}

/* Header styling */
.swapLogo {
    width: 580px;
    height: 131px;
}

.banHeaderTwo {
    font-family: Mosk-700;
    font-size: 90px;
}

.banHeaderTwo2 {
    font-family: Mosk-100;
    font-size: 90px;
}

/* Banner 3 and 4 share the header styling */
.banHeaderThree {
    font-family: Mosk-700;
    font-size: 40px;
}

.banHeaderThree2 {
    font-family: Mosk-700;
    font-size: 70px;
}

/* Moving text positioned on the right side of the banner */
.moveTextRight {
    text-align: end;
}

/* Description styling for banner 1 and 2*/
.banDesc {
    font-family: Mosk-300;
    font-size: 25px;
    color: #717171;
}

/* Description styling for banner 3 and 4 */
.banDesc2 {
    font-family: Mosk-300;
    font-size: 25px;
    color: #fff;
}

/* Button styling */
.btnSwap {
    width: 185px;
    height: 43px;
    cursor: pointer;
    background: transparent linear-gradient(84deg, #FF00FF 0%, #670AA1 100%) 0% 0% no-repeat padding-box;
    border-radius: 5px;
    border: none;
    font-family: Mosk-800;
    color: #fff;
    font-size: 21px;
}

.btnLearn {
    width: 185px;
    height: 43px;
    cursor: pointer;
    background: transparent linear-gradient(84deg, #00CDD5 0%, #440C8B 100%) 0% 0% no-repeat padding-box;    
    border-radius: 5px;
    opacity: 1;
    border: none;
    font-family: Mosk-800;
    color: #fff;
    font-size: 21px;
}

.btnMerch {
    width: 185px;
    height: 43px;
    cursor: pointer;
    background: transparent linear-gradient(84deg, #00CDD5 0%, #FF00FF 100%) 0% 0% no-repeat padding-box;    
    border-radius: 5px;
    opacity: 1;
    border: none;
    font-family: Mosk-800;
    color: #fff;
    font-size: 21px;
}

.btnTelegram {
    width: 185px;
    height: 43px;
    cursor: pointer !important;
    background: transparent linear-gradient(84deg, #345FDA 0%, #3072FF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;    
    border-radius: 5px;
    opacity: 1;
    border: none;
    font-family: Mosk-800;
    color: #fff;
    font-size: 21px;
}

.btnDiscord {
    width: 185px;
    height: 43px;
    cursor: pointer;
    background: transparent linear-gradient(84deg, #4063E8 0%, #6484FF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 5px;
    opacity: 1;
    border: none;
    font-family: Mosk-800;
    color: #fff;
    font-size: 21px;
}

/* Images */
.imageOne {
    position: relative;
    width: 100%;
    height: 150%;
}
.imageOne img {
    position: absolute;
    top: -50px;
    left: -100px;
    width: 950px;
    height: auto;
    z-index: 1;
}

.placeholder {
    padding-top: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.hoodies {
    position: absolute;
    height: auto;
    width: 34%;
    top: 4200px;
    left: 150px;
}

.telegram {
    position: absolute;
    height: auto;
    width: 60%;
    left: 755px;
    top: 5000px;
}

.discord {
    padding-top: 60px;
    height: auto;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* MEDIA QUERIES */
/* Extra small devices (Tested with Iphone X) */
@media screen and (max-width: 576px) { .gridPadding {padding-left: 10px; padding-right: 10px;}}
@media screen and (max-width: 576px) { .gridPadding2 {padding-left: 10px; padding-right: 10px;}}
@media screen and (max-width: 576px) { .banHeaderOne, .banHeaderOne2, .banHeaderTwo, .banHeaderTwo2 {font-size: 45px;}}
@media screen and (max-width: 576px) { .banHeaderThree {font-size: 20px;}}
@media screen and (max-width: 576px) { .banHeaderThree2 {font-size: 35px;}}
@media screen and (max-width: 576px) { .banDesc, .banDesc2 {font-size: 12px;}}
@media screen and (max-width: 576px) { .btnSwap, .btnMerch, .btnTelegram, .btnDiscord {width: 130px; height: 30px; font-size: 15px;}}

