.gridPadding {
    padding-left: 200px;
    padding-right: 200px;
}

.gridPadding2 {
    padding-left: 60px;
    padding-right: 200px;
}

/* Space to seperate elements */
.bannerLogoContainer{
    padding-top: 100px;
    padding-bottom: 50px;
}

.bannerTitleContainer{
    padding-top: 200px;
    padding-bottom: 50px;
}
/* Remove padding from "galaxy unversity" header*/
@media screen and (max-width: 576px) { .bannerTitleContainer {padding-top: 50px; }}


.bannerButtonContainer{
    padding-top: 50px;
    padding-bottom: 50px;
}

.banTopSpace {
    padding-bottom: 70px;
}

.banOutSpace {
    padding-bottom: 150px;
}

.banMerchSpace {
    padding-bottom: 250px;
}

.banDiscordSpace {
    padding-bottom: 250px;
}

.banSpace {
    padding-bottom: 50px;
}

/* Banner backgrounds */
.fadeLeft {
    background: transparent linear-gradient(269deg, #000000 0%, #171717 100%) 0% 0% no-repeat padding-box;
}


.fadeRight {
    background: transparent linear-gradient(90deg, #000000 0%, #171717 100%) 0% 0% no-repeat padding-box;
}

/* Header styling */
.swapLogo {
    max-width: 100%;
    height: auto;
}

.banHeaderTwo {
    font-family: Mosk-700;
    font-size: 90px;
}

.banHeaderTwo2 {
    font-family: Mosk-100;
    font-size: 90px;
}

/* Banner 3 and 4 share the header styling */
.banHeaderThree {
    font-family: Mosk-700;
    font-size: 40px;
}

.banHeaderThree2 {
    font-family: Mosk-700;
    font-size: 70px;
}

/* Moving text positioned on the right side of the banner */
.contentContainer{
    text-align: end;
}
/* Recenter university text on small screens */
@media screen and (max-width: 576px) { .contentContainer {text-align: center; }}

/* Description styling for banner 1 and 2*/
.banDesc {
    font-family: Mosk-300;
    font-size: 25px;
    color: #717171;
    padding-bottom: 50px;

}

/* Description styling for banner 3 and 4 */
.banDesc2 {
    font-family: Mosk-300;
    font-size: 25px;
    color: #fff;
}

/* Button styling */

.btns{
    width: 185px;
    height: 43px;
    cursor: pointer;
    border-radius: 5px;
    border: none;
    font-family: Mosk-800;
    color: #fff;
    font-size: 21px;

}
.btnSwap {
    background: transparent linear-gradient(84deg, #FF00FF 0%, #670AA1 100%) 0% 0% no-repeat padding-box;
}

.btnLearn {
    background: transparent linear-gradient(84deg, #00CDD5 0%, #440C8B 100%) 0% 0% no-repeat padding-box;    
}

.btnMerch {
    background: transparent linear-gradient(84deg, #00CDD5 0%, #FF00FF 100%) 0% 0% no-repeat padding-box;    
}

.btnTelegram {
    cursor: pointer !important;
    background: transparent linear-gradient(84deg, #345FDA 0%, #3072FF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;    
}

.btnDiscord {
    background: transparent linear-gradient(84deg, #4063E8 0%, #6484FF 100%) 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
}

/* Images */
.imageOne {
    position: relative;
    width: 100%;
    height: 100%;
}

.imageOne .laptop {
    position: absolute;
    top: -80px;
    max-width: 100%;
    height: auto;
    z-index: 1;
}

/* Align all banner contents center on mobile view */
@media screen and (max-width: 576px) { .bannerOneContainer, .bannerTwoContainer, .bannerThreeContainer, .bannerFourContainer {text-align: center; }}

/* Re-align laptop image and re-enter into layout */
@media screen and (max-width: 576px) { .imageOne .laptop {position: relative; top: 0}}

.placeholder {
    padding-top: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Resize university image on small screen */
@media screen and (max-width: 576px) { .placeholder {
    max-width: 90%;
    padding-top: 100px;
}}

/* Images */
.merchImage {
    position: relative;
    width: 100%;
    height: 100%;
}

.hoodies {
    position: absolute;
    height: 120%;
    top: -70px;
    left: 180px;
}

/* Resize and move hoodies for mobile view */
@media screen and (max-width: 576px) { .hoodies {
    position: relative; 
    top: 25px;
    left: 25%;
    max-width: 50%;
    height: auto;
}}

 .telegramImg {
    position: relative;
    width: 100%;
    height: 100%;
    top: -20px;
} 

.telegram {
    position: absolute;
    height: auto;
    width: 60%;
    left: 755px;
}

/* Resize and move hoodies for mobile view */
@media screen and (max-width: 576px) { .telegram {
    position: relative; 
    left: 0;
}}

.discord {
    padding-top: 60px;
    height: auto;
    width: 70%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/* MEDIA QUERIES */
/* Extra small devices (Tested with Iphone X) */
@media screen and (max-width: 576px) { .gridPadding {padding-left: 10px; padding-right: 10px;}}
@media screen and (max-width: 576px) { .gridPadding2 {padding-left: 10px; padding-right: 10px;}}
@media screen and (max-width: 576px) { .banHeaderOne, .banHeaderOne2, .banHeaderTwo, .banHeaderTwo2 {font-size: 45px;}}
@media screen and (max-width: 576px) { .banHeaderThree {font-size: 20px;}}
@media screen and (max-width: 576px) { .banHeaderThree2 {font-size: 35px;}}
@media screen and (max-width: 576px) { .banDesc, .banDesc2 {font-size: 12px;}}
@media screen and (max-width: 576px) { .btnSwap, .btnMerch, .btnTelegram, .btnDiscord {width: 130px; height: 30px; font-size: 15px;}}

/* changing grid layout on smaller screen */
@media screen and (max-width: 576px) { .gridItemBanner {align-items: center !important;}}
