.btnLearn {
    background: transparent linear-gradient(84deg, #00CDD5 0%, #440C8B 100%) 0% 0% no-repeat padding-box;    
}

.placeholder {
    padding-top: 220px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Resize university image on small screen */
@media screen and (max-width: 576px) { .placeholder {
    max-width: 90%;
    padding-top: 100px;
}}