/* First title */
h1{
    font-family: 'Mosk-200';
    font-size: 60px;
}

/* Subtitle */
h2{
    font-family: 'Mosk-600';
    font-size: 90px;
}

.h2Top{
    margin-bottom: 0px;
}

.h2Bottom{
    margin-top: 0px;
}

/* body copy */
p{
    font-family: 'Mosk-200';
    font-size: 25px;
}