/* First title */
h1{
    font-family: 'Mosk-200';
    font-size: 60px;
}

/* Subtitle */
h2{
    font-family: 'Mosk-600';
    font-size: 90px;
}

.faqIntro{
    font-family: 'Mosk-200';
    font-size: 25px;
    color: #808080;
}

h3, h4{
    font-family: 'Mosk-600';
    font-size: 50px;
}

.faqBody{
    font-family: 'Mosk-300';
    font-size: 25px;
    color: #808080;
}
