
.footerLogo {
    height: 1.8em;
    width: auto;
    padding-top:30px
}

.footerAddress{
    font-family: 'Mosk-300';
    font-size: 20px;
    opacity: .5;
}
@media screen and (max-width: 576px) { .footerAddress {font-size: 17px;}}

hr {
    width: 70%;
    margin-left: 0;
    border: 0;
    height: 2px;
    background-image: linear-gradient(270deg, #fff 0%, #808080 100%);
}

.footerHeading {
    color: #fff;
    font-family: Mosk-700;
    font-size: 22px;
    padding-bottom: 40px;
}
@media screen and (max-width: 576px) { .footerHeading {font-size: 22px; padding-bottom: 0px;}}

.footerText {
    color: #fff;
    font-family: Mosk-200;
    font-size: 22px;
}
@media screen and (max-width: 576px) { .footerText {font-size: 20px;}}

.copyright {
    color: #737373;
    text-align: center;
    font-family: Mosk-300;
    font-size: 20px;
    margin-bottom: 0;
    padding-bottom: 15px;
}
@media screen and (max-width: 576px) { .copyright {font-size: 15px;}}

.footLinks {
    text-decoration: none;
    cursor: pointer;
}

.footerSectionContainer{
    padding-left: 70px;
}
/* Class padding on footer contents on small screen */
@media screen and (max-width: 576px) { .footerSectionContainer {padding-left: 50px;}}

/* MEDIA QUERIES */
/* Extra small devices (Tested with Iphone X) */
@media screen and (max-width: 576px) { .space {padding-top: 10px;}}

