
.genBackgroundContainer {
    position: relative;
}

.genBackground {
    width:1200px;
    display:block;
    position:absolute;
    left: 50%;
    margin-left: -600px;
    top: 50%;
    margin-top: -350px;
    opacity: 11% !important;
    z-index: -1;
}

.genHeader {
    color: #fff;
    font-family: Mosk-700;
    font-size: 90px;
    text-align: center;
}

.genText {
    color: #fff;
    font-family: Mosk-300;
    font-size: 28px;
    text-align: center;
}

.genButtons {
    padding-top: 50px;
    text-align: center;
}

.genBtn1 {
    width: 228px;
    height: 54px;
    margin-right: 10px;
    border-radius: 4px;
    background: transparent linear-gradient(75deg, #00CDD5 0%, #00CDD5 47%, #F60AFF 100%, #000000 100%) 0% 0% no-repeat padding-box;
    color: #fff;
    font-family: Mosk-700;
    font-size: 28px;
    border: none;
    cursor: pointer;
}

.genBtn2 {
    width: 228px;
    height: 54px;
    margin-left: 10px;
    border-radius: 4px;
    color: #fff;
    font-family: Mosk-400;
    font-size: 25px;
    background: none;
    border: solid 1px #FF00FF;
    cursor: pointer;
}

/* MEDIA QUERIES */
/* Extra small devices (Tested with Iphone X) */
@media screen and (max-width: 576px) { .genHeader {font-size: 45px;}}
@media screen and (max-width: 576px) { .genText {font-size: 16px;}}
@media screen and (max-width: 576px) { .genButtons {padding-top: 25px;}}
@media screen and (max-width: 576px) { .genBtn1 {font-size: 16px; width: 114px; height: 27px;}}
@media screen and (max-width: 576px) { .genBtn2 {font-size: 14px; width: 114px; height: 27px;}}