p, h1, h2, h3, h4, h5, h6{
    color: white
}

.background {
    width: 100vw;
    height: auto;
    background: transparent linear-gradient(90deg, #000000 0%, #171717 100%) 0% 0% no-repeat padding-box;
    opacity: 1;
}

.space {
    padding-bottom: 70px;
}

p, span {
    color: #fff;
}
