p, h1, h2, h3, h4, h5, h6{
    color: white
}

html{
    overflow-x:hidden;
    width: 100vw;
    height: auto;
    background: transparent linear-gradient(90deg, #000000 0%, #171717 100%) 0% 0% no-repeat padding-box;
}


/* Unified space at top and bottom of each page */
.mainContainer{
    margin-top: 9em;
    margin-bottom:9em;
}

.space {
    padding-bottom: 70px;
}

p, span {
    color: #fff;
}
