.newsHeader {
    font-family: Mosk-800;
    font-size: 128px;
    color: #fff;
}

.newsText {
    font-family: Mosk-100;
    font-size: 107px;
    color: #fff;
}

.box {
    text-align: center;
}

#email {
    width: 440px;
    height: 71px;
    font-size: 24px;
    font-family: Mosk-500;
    background: none;
    border: 1px solid #FF00FF;
    color: #fff;
}

#subscribe {
    width: 186px;
    height: 75px;
    background: transparent linear-gradient(256deg, #FF00FF 0%, #00CDD5 100%) 0% 0% no-repeat padding-box;
    border-radius: 4px;
    opacity: 1;
    border: none;
    font-family: Mosk-600;
    font-size: 34px;
    color: #fff;
    cursor: pointer;
}

form {
    display: flex;
    justify-content: center;
}

.vspace {
    padding-bottom: 50px;
}

.hspace {
    padding-right: 15px;
}

.light {
    font-family: Mosk-200;
    font-size: 20px;
    color: #727272;
}

.bold {
    font-family: Mosk-500;
    font-size: 20px;
    color: #727272;
}

/* MEDIA QUERIES */
/* Extra small devices (Tested with Iphone X) */
@media screen and (max-width: 576px) { .newsHeader {font-size: 64px;}}
@media screen and (max-width: 576px) { .newsText {font-size: 53px;}}
@media screen and (max-width: 576px) { .light, .bold {font-size: 13px;}}
@media screen and (max-width: 576px) { #email {width: 220px; height: 35px; font-size: 12px;}}
@media screen and (max-width: 576px) { #subscribe {width: 93px; height: 37.5px; font-size: 12px;}}