/* HERO STYLING */

.openPosHeader{
    font-size: 120px;   
}

.openPosIntro{
    color: #727272;
    font-size: 30px;
    font-family: 'Mosk-200';
}

.returnToGallery{
    font-size: 30px;
    font-family: 'Mosk-200';
    margin-top: 95px;
}

.openPosHeader{
    font-size: 90px;
    font-family: 'Mosk-600'
}


/* POSITION INFO COMPONENT STYLING */

.positionDetailHeader{
    font-family: 'Mosk-600';
    font-size: 90px;
}

.positionDetailBody{
    font-family: 'Mosk-200';
    font-size: 25px;
}

.positionDetailSubHead{
    font-family: 'Mosk-500';
    font-size: 45px;
}

.positionOverview{
    font-family: 'Mosk-600';
    font-size: 70px;
}

.contactInfo{
    font-family: 'Mosk-200';
    font-size: 50px;
    margin-top: 1.5em;
    
}

h2 span {
    position: relative;
    padding-bottom: 5px;
}

h2 span::after{
    position: absolute; 
    top: 10;
    left: 0; 
    bottom: 0; 
    width: 120%; 
    height: 1px; 
    border-bottom: 1px solid #FF1FFF; 
    content: ""
}

.contactDetails{
    font-family: 'Mosk-200';
    font-size: 25px;
}

.contactEmail{
    font-family: 'Mosk-300';
    font-size: 35px;
}