.university-image {
  height: 75rem;
  margin-top: -3rem;

  @include respond(x-small-laptop) {
    height: 63rem;
  }

  /* Resize university image on small screen */
  @include respond(ipad-pro) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    height: 100%;
    width: 100%;
  }

  @include respond(ipad) {
    position: relative;
    padding-top: 0;
    top: 0;
    transform: translateY(0);
    height: auto;
    width: 80%;
  }
}

.universitySpace {
  padding-bottom: 7rem;

  @include respond(ipad) {
    padding-bottom: 0;
  }
}

.universityText {
  // display: inline-block;
  margin-left: -15rem;

  @include respond(ipad) {
    margin-left: 0;
  }
}

.universityIcon {
  display: none;

  @include respond(ipad) {
    display: unset;
    height: auto;
    width: 18%;
    margin-bottom: -3rem;
  }

  @include respond(iphone-plus) {
    margin-bottom: -2.5rem;
  }

  @include respond(iphone-plus) {
    width: 17%;
  }
}

.banUniversityHeader {
  font-size: 8rem;

  @include respond(x-small-laptop) {
    font-size: 6.5rem;
  }

  @include respond(ipad-pro) {
    font-size: 6rem;
  }

  @include respond(ipad) {
    font-size: 7.5rem;
  }

  @include respond(iphone-plus) {
    font-size: 6rem;
  }

  @include respond(galaxy-fold) {
    font-size: 7rem;
  }

  /* Used by Banner2 and Banner3 */
  &--1 {
    font-family: Mosk-700;
  }

  &--2 {
    font-family: Mosk-100;
  }
}

.ban-university-link {
  text-decoration: none;
}
