.hoodies {
  height: auto;
  width: 120%;
  margin-top: -6rem;
  margin-bottom: -6rem;

  @include respond(ipad-pro) {
    height: auto;
    width: 80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  /* Resize and move hoodies for mobile view */
  @include respond(ipad) {
    display: none;
  }
}

.hoodiesMobile {
  display: none;
  /* Resize and move hoodies for mobile view */

  @include respond(ipad) {
    margin-top: 0;
    margin-bottom: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
  }
}

.bannerMerchButtonContainer {
  padding-top: 5rem;
}

.merchSpace {
  padding-bottom: 7rem;

  @include respond(ipad) {
    padding-bottom: 0;
  }
}

.merch-button-link {
  text-decoration: none;
  color: $color-white;
}