/* Global banner styling used by 2 more banner components */
.ban-gridPadding {
  @include respond(ipad-pro) {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.banHeader {
  font-size: 9rem;

  @include respond(ipad-pro) {
    font-size: 6rem;
  }

  @include respond(ipad) {
    font-size: 7.5rem;
  }

  /* Used by Banner2 and Banner3 */
  &--1 {
    font-family: Mosk-700;
  }

  &--2 {
    font-family: Mosk-100;
  }
}

.banHeader-alt {
  font-family: Mosk-700;

  &--1 {
    font-size: 3.8rem;
  }

  &--2 {
    font-size: 7rem;
    line-height: 0.5;
  }
}

.banDesc {
  font-family: Mosk-300;
  font-size: 2.5rem;
  line-height: 1.2;

  /* Description styling for banner 1, 2 and 3 */
  &--1 {
    color: $color-grey-light-1;
  }

  /* Description styling for banner 4 and 5 */
  &--2 {
    color: $color-white;

    @include respond(ipad) {
      color: $color-grey-light-1;
    }
  }
}

.bannerTitleContainer {
  padding-top: 20rem;
  padding-bottom: 5rem;

  /* Remove padding from "galaxy unversity" header*/
  @include respond(ipad-pro) {
    padding-top: 10rem;
  }

  @include respond(ipad) {
    padding-bottom: 2rem;
  }
}

// Banner Telegram and Discord
.bannerTitleContainer2 {
  padding-top: 18rem;
  padding-bottom: 5rem;

  /* Remove padding from "galaxy unversity" header*/
  @include respond(ipad-pro) {
    padding-top: 10rem;
  }

  @include respond(ipad) {
    padding-bottom: 4rem;
  }
}

.bannerButtonContainer {
  padding-top: 5rem;
  padding-bottom: 10rem;

  @include respond(ipad-pro) {
    padding-bottom: 5rem;
  }

  @include respond(ipad) {
    padding-bottom: 0;
  }
}

/* Banner backgrounds */
.fadeLeft {
  background: transparent
    linear-gradient(269deg, $color-black 0%, $color-gradient-black 100%) 0% 0%
    no-repeat padding-box;
}

.fadeRight {
  background: transparent
    linear-gradient(90deg, $color-black 0%, $color-gradient-black 100%) 0% 0%
    no-repeat padding-box;
}

/* Moving text positioned on the right side of the banner */
.ban-contentContainer {
  text-align: end;

}

/* Button styling */
.ban-button {
  width: 18.5rem;
  height: 4.3rem;
  border-radius: 0.5rem;
  border: none;
  font-family: Mosk-800;
  color: $color-white;
  font-size: 2.1rem;

  @include respond(ipad) {
    width: 28rem;
    height: 7rem;
    font-size: 3rem;
  }

  &--discord {
    background: transparent
      linear-gradient(84deg, $color-blue-light 0%, $color-blue-extra-light 100%)
      0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px $color-box-shadow-light;
  }

  &--learn {
    background: transparent
      linear-gradient(84deg, $color-teal 0%, $color-purple-dark 100%) 0% 0%
      no-repeat padding-box;
  }

  &--merch {
    background: transparent
      linear-gradient(84deg, $color-teal 0%, $color-pink 100%) 0% 0% no-repeat
      padding-box;
  }

  &--swap {
    background: transparent
      linear-gradient(84deg, $color-pink 0%, $color-purple 100%) 0% 0% no-repeat
      padding-box;
  }

  &--telegram {
    background: transparent
      linear-gradient(84deg, $color-blue 0%, $color-blue-bright 100%) 0% 0%
      no-repeat padding-box;
    box-shadow: 0px 3px 6px $color-box-shadow-light;
  }
}

.btn-desktop {
  @include respond(ipad) {
    display: none;
  }
}

.btn-mobile {
  display: none;

  @include respond(ipad) {
    display: unset;
  }
}

.bannerButtonMobileContainer {
  @include respond(ipad) {
    padding-top: 5rem;
    padding-bottom: 5rem;  
    text-align: center;
  }
}

.centered-images {
  @include respond(ipad-pro) {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  @include respond(ipad) {
    display: unset;
  }
}

.mobileCenter {
  @include respond(ipad) {
    text-align: center;
  }
}