.telegram {
  height: auto;
  width: 125%;
  margin-left: -22rem;
  margin-top: -5rem;
  margin-bottom: -7rem;

  @include respond(small-laptop) {
    margin-left: -13rem;
    margin-top: -1rem;
  }

  @include respond(x-small-laptop) {
    margin-left: -9rem;
    margin-top: 8rem;
  }

  @include respond(ipad-pro) {
    height: auto;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  @include respond(ipad) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
    top: 0;
    transform: translateY(0);
    height: auto;
    width: 60%;
  }
}

.telegram-button-link {
  text-decoration: none;
  color: $color-white;
}
