/* Space to seperate elements */
.bannerLogoContainer {
  padding-top: 10rem;
  padding-bottom: 5rem;
}

/* Header styling */
.swapLogo {
  max-width: 100%;
  height: auto;

  @include respond(ipad-pro) {
    max-width: 75%;
  }

  @include respond(ipad) {
    max-width: 80%;
  }

  @include respond(iphone-plus) {
    max-width: 90%;
  }
}

/* Images */
.laptop {
  height: auto;
  width: 100%;
  margin-left: -10rem;
  margin-top: -5rem;
  margin-bottom: -5rem;

  @include respond(ipad-pro) {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;
  }

  @include respond(ipad) {
    display: block;
    width: 65%;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}