.placeholder {
  // padding-top: 22rem;
  // height: auto;
  // width: 100%;
  // display: block;
  // margin-left: auto;
  // margin-right: auto;
  display: none;

  /* Resize university image on small screen */
  @include respond(ipad) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 0;
  }
  
  @include respond(ipad-pro) {
    max-width: 90%;
    padding-top: 0;
    // TEMP MARGIN
    // margin-top: 25%;
  }
}

.universitySpace {
  padding-bottom: 7rem;

  @include respond(ipad) {
    padding-bottom: 0;
  }
}

// Forced to use important because the text is too long for the container
.universityText {
  margin-left: -8rem !important;

  @include respond(ipad) {
    margin-left: 0 !important;
  }
}