.placeholder {
  padding-top: 220px;
  height: 70%;
  width: 70%;
  // display: block;
  // margin-left: auto;
  // margin-right: auto;

  /* Resize university image on small screen */
  @include respond(surface-duo) {
    max-width: 90%;
    padding-top: 100px;
  }
}
