.hoodies {
  height: auto;
  width: 120%;
  margin-top: -6rem;
  margin-bottom: -6rem;

  /* Resize and move hoodies for mobile view */

  @include respond(ipad-pro) {
    margin: auto;
    width: 90%;
  }
  //
  // @include respond(surface-duo) {
  //   position: relative;
  //   top: 2.5rem;
  //   left: 25%;
  //   max-width: 50%;
  //   height: auto;
  // }
}

.bannerMerchButtonContainer {
  padding-top: 5rem;
}

.bannerMerchTextPadding {
  margin-left: -4rem !important;

  @include respond(ipad-pro) {
    margin-left: auto !important;
  }
}
