.destCenter {
  text-align: center;
}

/* Component heading and alignment */
.destHeader {
  font-size: 6.4rem;
  color: $color-white;

  &--1 {
    font-family: Mosk-100;

    @include respond(surface-duo) {
      font-size: 6rem;
    }

    @include respond(iphone-plus) {
      font-size: 5rem;
    }

    @include respond(iphone-x) {
      font-size: 6rem;
    }
  }

  &--2 {
    font-family: Mosk-700;
    line-height: 0.4;

    @include respond(surface-duo) {
      font-size: 6rem;
    }

    @include respond(iphone-plus) {
      font-size: 5rem;
    }

    @include respond(iphone-x) {
      font-size: 6rem;
    }
  }
}

.boxGrouping-container {
  display: flex;
  justify-content: center;
}

.boxGrouping {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10rem;
  width: 102rem;

  @include respond(surface-duo) {
    width: 50rem;
  }
}

.destBox-container {
  margin: 0.8rem;
}

/* 6 Boxes for Trade, Learn, Launch, Wallet, Jobs and Merch */
.destBox {
  width: 32.4rem;
  height: 32.4rem;
  box-shadow: 0px 0.3rem 6.6rem $color-box-shadow-dark;
  color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include respond(ipad) {
    width: 26.5rem;
    height: 26.5rem;
  }

  @include respond(surface-duo) {
    width: 32rem;
    height: 32rem;
  }

  &:hover {
    box-shadow: 0px 0.3rem 6.6rem $color-box-shadow-dark;
    border: solid 1px $color-black;
  }

  &--1 {
    border: solid 1px $color-pink;

    &:hover {
      background: transparent
        linear-gradient(225deg, $color-purple-dark 0%, $color-pink 100%) 0% 0%
        no-repeat padding-box;
    }
  }

  &--2 {
    border: solid 1px $color-teal;

    &:hover {
      background: transparent
        linear-gradient(45deg, $color-teal 0%, $color-purple-dark 100%) 0% 0%
        no-repeat padding-box;
    }
  }

  &--3 {
    border: solid 1px $color-yellow-light;

    &:hover {
      background: transparent
        linear-gradient(45deg, $color-yellow-dark 0%, $color-yellow 100%) 0% 0%
        no-repeat padding-box;
    }
  }

  &--4 {
    border: solid 1px $color-green-light;

    &:hover {
      background: transparent
        linear-gradient(228deg, $color-green 0%, $color-green-dark 100%) 0% 0%
        no-repeat padding-box;
    }
  }

  &--5 {
    border: solid 1px $color-white;

    &:hover {
      background: transparent
        linear-gradient(45deg, $color-off-black 0%, $color-grey-dark-1 100%) 0%
        0% no-repeat padding-box;
    }
  }

  &--6 {
    border: solid 1px $color-pink;

    &:hover {
      background: transparent
        linear-gradient(45deg, $color-teal 0%, $color-pink 100%) 0% 0% no-repeat
        no-repeat padding-box;
    }
  }

  /* Image sizing */
  // destBox__image
  &__image {
    width: auto;
    height: 20%;
    margin-bottom: 2rem;

    @include respond(ipad) {
      margin-top: 2rem;
    }
  }

  /* Box text */
  // destBox__header
  &__header {
    font-family: Mosk-700;
    font-size: 3.5rem;

    @include respond(ipad) {
      font-size: $font-size-20;
    }

    @include respond(surface-duo) {
      font-size: $font-size-30;
    }
  }

  &__text {
    text-align: center;
    font-family: Mosk-300;
    font-size: 1.8rem;
    padding: 4rem;

    @include respond(ipad) {
      height: 10rem;
      padding: 2rem;
    }

    @include respond(surface-duo) {
      padding: 1rem;
      font-size: 2.2rem;
    }
  }
}
