.gen {
  position: relative;
  margin-top: 16rem;
  margin-bottom: 0rem;

  &__background {
    height: auto;
    width: 67%;
    display: block;
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -50%);
    z-index: -1;

    @include respond(ipad-pro) {
      width: 85%;
      top: 40%;
    }

    @include respond(ipad) {
      display: none;
    }
  }

  &__header {
    color: $color-white;
    font-family: Mosk-700;
    font-size: 8.18rem;
    text-align: center;
    line-height: 1;
    padding-top: 5rem;
    padding-bottom: 4rem;

    @include respond(ipad-pro) {
      margin-top: 15rem;
      font-size: 7rem;
    }

    @include respond(ipad) {
      margin-top: 10rem;
      font-size: 7rem;
    }

    @include respond(surface-duo) {
      font-size: 6rem;
      line-height: normal;
    }

    @include respond(iphone-plus) {
      font-size: 5rem;
    }

    @include respond(iphone-x) {
      font-size: 6rem;
    }
  }

  &__text {
    color: $color-white;
    font-family: Mosk-300;
    font-size: 2.7rem;
    text-align: center;
    padding-bottom: 7rem;

    @include respond(ipad-pro) {
      padding-bottom: 5rem;
    }

    @include respond(ipad-pro) {
      padding-bottom: 4rem;
    }

    @include respond(iphone-plus) {
      padding-bottom: 1rem;
    }
  }

  &__buttons-container {
    padding-top: 5rem;
    text-align: center;

    @include respond(iphone-plus) {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

.gen-btn {
  width: 17rem;
  height: 4rem;
  border-radius: 0.4rem;
  color: $color-white;
  cursor: pointer;

  &--1 {
    background: transparent
      linear-gradient(
        75deg,
        $color-teal 0%,
        $color-teal 47%,
        $color-pink 100%,
        $color-black 100%
      )
      0% 0% no-repeat padding-box;
    font-family: Mosk-700;
    font-size: 2rem;
    border: none;
    margin-right: 3rem;

    @include respond(iphone-plus) {
      margin-right: 0;
      margin-bottom: 2rem;
    }
  }

  &--2 {
    background: none;
    font-family: Mosk-400;
    font-size: 2rem;
    border: solid 1px $color-pink;
  }
}