.gen {
  position: relative;
  margin-top: 11rem;

  &__background {
    width: 120rem;
    display: block;
    position: absolute;
    left: 50%;
    margin-left: -60rem;
    top: 50%;
    margin-top: -35rem;
    opacity: 0.11;
    z-index: -1;

    @include respond(surface-duo) {
      display: none;
    }
  }

  &__header {
    color: $color-white;
    font-family: Mosk-700;
    font-size: 6rem;
    text-align: center;

    @include respond(big-desktop) {
      font-size: $font-size-90;
    }

    @include respond(surface-duo) {
      font-size: 4.5rem;
    }
  }

  &__text {
    color: $color-white;
    font-family: Mosk-300;
    font-size: 2.8rem;
    text-align: center;

    @include respond(surface-duo) {
      font-size: 1.6rem;
    }
  }

  &__buttons-container {
    padding-top: 5rem;
    text-align: center;

    @include respond(surface-duo) {
      padding-top: 2.5rem;
    }
  }
}

.gen-btn {
  width: 22.8rem;
  height: 5.4rem;
  margin-right: 1rem;
  border-radius: 0.4rem;
  color: $color-white;
  cursor: pointer;

  @include respond(surface-duo) {
    width: 11.4rem;
    height: 2.7rem;
  }

  &--1 {
    background: transparent
      linear-gradient(
        75deg,
        $color-teal 0%,
        $color-teal 47%,
        $color-pink 100%,
        $color-black 100%
      )
      0% 0% no-repeat padding-box;
    font-family: Mosk-700;
    font-size: 2.8rem;
    border: none;

    @include respond(surface-duo) {
      font-size: 2rem;
    }
  }

  &--2 {
    background: none;
    font-family: Mosk-400;
    font-size: $font-size-25;
    border: solid 1px $color-pink;

    @include respond(surface-duo) {
      font-size: 1.4rem;
    }
  }
}

/* Break element that will only display in mobile view to stack the buttons */
.responsiveButtons {
  display: none;
}
