.openingCenter {
    text-align: center;
}

.openingHeader {
    font-size: 6.4rem;
    color: $color-white;
    font-family: Mosk-700;
    line-height: 0.4;

    @include respond(surface-duo) {
        font-size: 6rem;
        line-height: normal;
      }
  
      @include respond(iphone-plus) {
        font-size: 5rem;
      }
  
      @include respond(iphone-x) {
        font-size: 6rem;
      }
}

.openingText {
    padding-top: 3rem;
    padding-bottom: 5rem;
    font-family: Mosk-300;
    font-size: 2.5rem;
    line-height: 1.2;
}