.modal {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba($color-black, 0.8);
  z-index: 9999;
  transition: all 0.3s;
  color: $color-white;
  font-size: 2.6rem;
  display: flex;
  justify-content: center;
  align-items: center;

  @supports (-webkit-backdrop-filter: blur(10px)) or
    (backdrop-filter: blur(10px)) {
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background-color: rgba($color-black, 0.3);
  }

  @include respond(big-desktop) {
    font-size: $font-size-30;
  }

  @include respond(ipad) {
    font-size: 2.6rem;
  }

  @include respond(surface-duo) {
    font-size: 2.4rem;
  }

  &__content-container {
    font-family: Mosk-100;
    padding: 4rem;
    padding-top: 2rem;
    max-height: 80vh;
    max-width: 80vw;
    overflow: scroll;
    // width: 50%;
    background-color: $color-off-black-light;
    border-radius: 1rem;
    text-align: center;

    display: flex;
    flex-direction: column;
    align-items: center;

    &::-webkit-scrollbar {
      display: none;
    }

    @include respond(iphone-plus) {
      max-height: 75vh;
      max-width: 80vw;
    }

    // @include respond(galaxy-fold) {
    //   font-size: $font-size-30;
    // }
  }
  //
  // &__text {
  //   width: 60rem;
  //
  //   @include respond(ipad-pro) {
  //     width: 65rem;
  //   }
  //
  //   @include respond(surface-duo) {
  //     width: 50rem;
  //   }
  // }

  &__button {
    width: 17rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 1rem;
    margin-top: 3rem;
    color: $color-white;
    border: none;
    font-family: Mosk-700;
    font-size: 3rem;
    background: transparent
      linear-gradient(
        120deg,
        $color-teal 0%,
        $color-teal 26%,
        $color-pink 100%,
        $color-black 100%
      )
      0% 0% no-repeat padding-box;
  }
}

.modal-title {
  font-size: 4.4rem;
  font-family: Mosk-700;

  @include respond(ipad) {
    font-size: 3.6rem;
  }
}

.terms-content {
  text-align: left;
}