.footerSectionContainer {
  padding-left: 7rem;
  padding-right: 4rem;
  display: flex;
  justify-content: space-around;

  @include respond(ipad-pro) {
    display: unset;
    padding-left: 2rem;
  }
}

.footerLogoAndAddress {
  @include respond(ipad-pro) {
    padding-left: 6rem;
    padding-bottom: 2rem;
  }

  @include respond(ipad) {
    padding-left: 3rem;
  }

  @include respond(galaxy-fold) {
    padding-left: 4.6rem;
  }
}

.footerLogo {
  width: 25rem;
  padding-top: 3rem;
  padding-bottom: 1rem;

  // @include respond(ipad-pro) {
  //   height: auto;
  //   width: 30%;
  // }
  //
  // @include respond(ipad) {
  //   height: auto;
  //   width: 35%;
  // }
  //
  // @include respond(surface-duo) {
  //   height: auto;
  //   width: 50%;
  // }
  //
  // @include respond(iphone-plus) {
  //   height: auto;
  //   width: 72%;
  // }
  //
  // @include respond(iphone-x) {
  //   height: auto;
  //   width: 72%;
  // }
  //
  // @include respond(iphone-5) {
  //   height: auto;
  //   width: 74%;
  // }
  //
  // @include respond(galaxy-fold) {
  //   height: auto;
  //   width: 70%;
  // }
}

.footerAddress {
  font-family: Mosk-300;
  font-size: $font-size-20;
  opacity: 0.5;

  @include respond(iphone-plus) {
    font-size: 2.5rem;
  }

  @include respond(iphone-x) {
    font-size: 2.9rem;
  }

  @include respond(galaxy-s5) {
    font-size: 2.5rem;
  }

  @include respond(iphone-5) {
    font-size: 2.8rem;
  }

  @include respond(galaxy-fold) {
    font-size: 3rem;
  }
}

.footer-column {
  width: 23rem;

  @include respond(big-desktop) {
    width: 28rem;
  }

  @include respond(ipad-pro) {
    padding-left: 3rem;
  }

  @include respond(surface-duo) {
    width: 100%;
  }

  @include respond(galaxy-fold) {
    padding-left: 4.6rem;
  }

  &__divider {
    width: 70%;
    margin-left: 0;
    border: 0;
    height: 0.2rem;
    background-image: linear-gradient(
      270deg,
      $color-white 0%,
      $color-grey-light-2 100%
    );

    @include respond(ipad-pro) {
      width: 85%;
    }

    @include respond(ipad) {
      width: 95%;
    }

    @include respond(surface-duo) {
      width: 35%;
    }

    @include respond(iphone-plus) {
      width: 52%;
    }

    @include respond(iphone-x) {
      width: 47%;
    }

    @include respond(galaxy-s5) {
      width: 50%;
    }

    @include respond(iphone-5) {
      width: 60%;
    }

    @include respond(galaxy-fold) {
      width: 55%;
    }
  }

  &__heading {
    color: $color-white;
    font-family: Mosk-700;
    font-size: 2.2rem;
    padding-bottom: 6rem;
    padding-top: 4rem;

    @include respond(ipad-pro) {
      font-size: 2rem;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }

    @include respond(ipad-pro) {
      font-size: 1.9rem;
    }

    @include respond(surface-duo) {
      font-size: 2.2rem;
    }

    @include respond(iphone-plus) {
      padding-bottom: 2rem;
      font-size: 3.6rem;
    }

    @include respond(iphone-5) {
      font-size: 4.2rem;
    }
  }

  &__text {
    color: $color-white;
    font-family: Mosk-200;
    font-size: 1.8rem;
    padding-bottom: 2rem;

    @include respond(big-desktop) {
      font-size: 2rem;
    }

    @include respond(ipad-pro) {
      font-size: 1.7rem;
    }

    @include respond(ipad) {
      font-size: 1.5rem;
    }

    @include respond(surface-duo) {
      font-size: 2rem;
    }

    @include respond(iphone-plus) {
      font-size: 3.2rem;
    }

    @include respond(iphone-5) {
      font-size: 3.8rem;
    }
  }

  &__coming-soon-container {
    display: flex;

    @include respond(ipad) {
      justify-content: flex-start;
    }
  }

  &__coming-soon {
    height: 1.8rem;
    margin-left: 0.75rem;
    margin-top: 0.5rem;

    @include respond(big-desktop) {
      height: 2.4rem;
    }

    @include respond(ipad-pro) {
      height: 1.5rem;
      margin-top: 0.6rem;
    }

    @include respond(ipad) {
      height: 0.9rem;
      margin-top: 0.7rem;
    }

    @include respond(surface-duo) {
      height: 2.4rem;
      margin-top: 0.5rem;
    }

    @include respond(iphone-plus) {
      height: 3rem;
      margin-top: 1rem;
    }

    @include respond(iphone-5) {
      margin-top: 1.6rem;
    }

    @include respond(iphone-only) {
      margin-top: 0.9rem;
      height: 1.4rem;
    }
  }

  &__link {
    text-decoration: none;
    cursor: pointer;
  }
}

.footer-copyright {
  color: $color-grey-light-1;
  text-align: center;
  font-family: Mosk-300;
  font-size: $font-size-20;
  margin-bottom: 0;
  margin-top: 10rem;
  padding-bottom: 1.5rem;
}

.footer-modal-btns {
  background: none;
  border: none;
  color: $color-white;
  font-family: Mosk-200;
  font-size: 1.8rem;

  @include respond(big-desktop) {
    font-size: 2rem;
  }

  @include respond(ipad-pro) {
    font-size: 1.7rem;
  }

  @include respond(ipad) {
    font-size: 1.5rem;
  }

  @include respond(surface-duo) {
    font-size: 2rem;
  }

  @include respond(iphone-plus) {
    font-size: 3.2rem;
  }

  @include respond(iphone-5) {
    font-size: 3.8rem;
  }
}
