/* Navbar div that houses all the elements */
.mobile-nav {
  display: none;

  // This styling will carry down to small devices
  @include respond(ipad-pro) {
    display: unset;
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
    height: 10rem;
    background: transparent linear-gradient(75deg, #222222 0%, #101010 100%) 0%
      0% no-repeat padding-box;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    margin: 4rem;
  }

  /* Hamburger icon for mobile view */
  &__burger {
    color: $color-white;
    font-size: 3rem;
    margin-right: 1rem;

    @include respond(galaxy-fold) {
      font-size: 4rem;
    }
  }

  &__logo {
    @include respond(surface-duo) {
      height: 3rem;
    }

    @include respond(galaxy-fold) {
      height: 4rem;
    }
  }
}
