/* Navbar div that houses all the elements */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  margin: 3rem;

  // This styling will carry down to small devices
  @include respond(ipad-pro) {
    display: none;
  }

  &__menu-and-icons {
    display: flex;
  }
}

/* Spacing between navbar items */
.navLink {
  color: $color-white;
  text-decoration: none;
}

.navLink .coming {
  display: inline;
}

.comingSoonNav {
  display: flex;
}

.navText {
  font-family: Mosk-300;
  font-size: $font-size-20;
  line-height: 2.3;
  background: none;
  border: none;
  color: $color-white;
}

/* Navbar logo sizing */
.navLogo {
  height: 3rem;

  @include respond(ipad-pro) {
    display: none;
  }
}

/* Parent element of the dropdown links (Products, Developers, Community and About) */
.navMenu {
  display: flex;
  cursor: pointer;
  border: none;
  margin-right: 3rem;

  /* Hiding desktop menu */
  @include respond(ipad-pro) {
    display: none;
  }
}

.dropdown {
  padding: 0 1.5rem;
}

/* Style to seperate Products, Developers, Community and About links */
.dropbtn {
  padding: 0 4rem;
  padding-bottom: 1rem;
  font-family: Mosk-700;
  font-size: $font-size-20;
}

/* Dropdown content links (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background: transparent
    linear-gradient(2deg, $color-black 0%, $color-off-black-light 100%) 0% 0%
    no-repeat padding-box;
  border-radius: 4px;
  padding: 0 2rem;
  margin-left: 2rem;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

.socialIcon {
  height: 2rem;
  margin-right: 3rem;

  @include respond(ipad-pro) {
    height: 3rem;
  }

  @include respond(iphone-only) {
    height: 2rem;
  }
}

.comingSoon {
  margin-left: 2rem;
  margin-top: 1.2rem;
  height: 2rem;

  @include respond(ipad-pro) {
    margin-top: 2rem;
  }

  @include respond(ipad) {
    margin-top: 1.5rem;
  }

  @include respond(iphone-only) {
    margin-top: 0.9rem;
    height: 1.5rem;
  }
}
