body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Mosk-100';
  src: local('Mosk-100'), url(./Styles/Fonts/Mosk\ Thin\ 100.ttf) format('truetype');
}

@font-face {
  font-family: 'Mosk-200';
  src: local('Mosk-200'), url(./Styles/Fonts/Mosk\ Extra-Light\ 200.ttf) format('truetype');
}

@font-face {
  font-family: 'Mosk-300';
  src: local('Mosk-300'), url(./Styles/Fonts/Mosk\ Light\ 300.ttf) format('truetype');
}

@font-face {
  font-family: 'Mosk-400';
  src: local('Mosk-400'), url(./Styles/Fonts/Mosk\ Normal\ 400.ttf) format('truetype');
}

@font-face {
  font-family: 'Mosk-500';
  src: local('Mosk-500'), url(./Styles/Fonts/Mosk\ Medium\ 500.ttf) format('truetype');
}

@font-face {
  font-family: 'Mosk-600';
  src: local('Mosk-600'), url(./Styles/Fonts/Mosk\ Semi-Bold\ 600.ttf) format('truetype');
}

@font-face {
  font-family: 'Mosk-700';
  src: local('Mosk-700'), url(./Styles/Fonts/Mosk\ Bold\ 700.ttf) format('truetype');
}

@font-face {
  font-family: 'Mosk-800';
  src: local('Mosk-800'), url(./Styles/Fonts/Mosk\ Extra-Bold\ 800.ttf) format('truetype');
}

@font-face {
  font-family: 'Mosk-900';
  src: local('Mosk-900'), url(./Styles/Fonts/Mosk\ Ultra-Bold\ 900.ttf) format('truetype');
}